<h1>Stupid Coaching</h1>
<ul class="question">
  <li> <%= @question %></li>
  <li> - <i>You</i> </li>
</ul>



<ul class="answer">
  <li><%= @answer %></li>
  <li> - <i>Your coach</i></li>
</ul>


<div class="button">
<%= link_to "Ask a new question", "/ask" %>
<div>
